p {text-align:right; font-style:none}
h3 {font-size:12px; font-family:arial; color:black;margin-block-end: 0.5px;} 
h2 {font-size:18px; text-align:center}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

body {
    height: 100%;
}
  
body {
    align-items: center;
    padding-bottom: 40px;
    background-color: #000000;
}

/*Main page division*/

.grid-main-container {
  display: grid;
  grid-auto-rows: auto auto 90px;
  background-color: #191919;
}

.grid-main-container-access {
  display: grid;
  grid-auto-rows: 10% 50% 50% 7%;
  grid-auto-columns: 1fr 1fr;
  background-color: #0b0b0b;
}

.box-footer{
  grid-column: 1/3;
  height: 100px;
  background-color: #000000;
}

/*Simple Header*/

.box-header {
    display: grid;
    grid-column: 1/3;
    align-items: center;
    background-color: #000000;
    height: 1fr;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    box-shadow: 0px 10px 30px rgb(0, 0, 0);
  }
  
  .box-header a {
    align-content: center;
    color: #ffbf00;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
  }

  .box-header img.written-logo{
    width: 200px;
    height: auto;
  }

  .box-header img.image-logo{
    width: 65px;
    height: auto;
    margin: 2%;
  }
  
  .box-header a:hover {
    background-color: #ffbf00;
    color: #191919;
    border-radius: 30px;
  }
  
  .box-header a.logo:hover {
    background-color: #ff840000;
    background-image: linear-gradient(to top, #ff840000 0%, #ff8400 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .box-header a.image-logo:hover {
    background-color: #ff840000;
  }
  
  
  .box-header a.active {
    background-color: #ffbf00;
    color: #191919;
  }
  
  .box-header-left {
    text-align: left;
    grid-column: 1;
  }
  
  .box-header-center {
    grid-column: 2;
    text-align: center;
  }
  
  .box-header-right {
    text-align: right;
    grid-column: 3;
    margin-right: 5%;
  }

  /* Bacheca division */

  .box-main-bacheca {
    display: grid;
    grid-column: 1/3;
    padding-left: 2%;
    padding-right: 2%;
    grid-template-columns: minmax(auto, 30%) minmax(auto,70%);
    background-color: #242424;
  }
  
  .box-rightside-bacheca {
    margin: 2%;
    background-color: #272727;
    border-radius: 20px;
  }
  
  .box-leftside-bacheca {
    margin: 10%;
    background-color: #ff8400;
    padding: 10%;
    border-radius: 20px;
  }
   /*MODIFICATO MARGIN PER FAR SI CHE NON FOSSERO ATTACCATI I BLOCCHI*/
  .box-post-bacheca {
    margin: 3%; 
    background-color: #ff8400;
    padding: 10%;
    border-radius: 20px;
  }

  /* Profile division */

.box-main-profile {
    display: grid;
    grid-column: 1/3;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #242424;
}

.box-profile{
  grid-row: 1;
  background-color: #272727;
  border-radius: 20px;
  margin: 1%;
}

.box-post {
  display: grid;
  grid-row: 2;
  background-color: #ff8400;;
  grid-template-columns: minmax(auto, 50%) minmax(auto,50%);
  border-radius: 20px;
}

.box-post-header {
  display: grid;
  grid-column: 1/3;
  align-items: center;
  overflow: hidden;
  background-color: #242424;
  padding: 10px 10px;
  height: 60px;
  border-radius: 20px 20px 0px 0px;
  margin: 1% 1% 0% 1%;
}

.box-post-header h1{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  text-align: center;
  color: #ff8400;
}


.box-post-content-left {
  grid-row: 2;
  grid-column: 1;
  background-color: #242424;
  background-image: linear-gradient(to bottom, #ff840000 0%, #ff8400 100%);
  height: 600px;
  margin-right: 0.2%;
  margin-left: 2%;
}

.box-post-content-right {
  grid-row: 2;
  grid-column: 2;
  background-color: #242424;
  background-image: linear-gradient(to bottom, #ff840000 0%, #ff8400 100%);
  height: 600px;
  margin-left: 0.2%;
  margin-right: 2%;
}

/* Access division */


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.box-description {
  grid-column: 1/3;
  display: grid;
  grid-auto-columns: 3fr 2fr 1fr 2fr 1fr 2fr 3fr;
  align-items: center;
  overflow: hidden;
  padding: 10px 10px;
  height: 350px;
}

.box-description h1{
  font-family: 'Poppins', sans-serif;
  font-weight:200;
  color: #ffbf00;
  margin: 5%;
}

.box-description-emptyobj1{
  grid-column: 1;
}

.box-description-emptyobj2{
  grid-column: 7;
}

.box-description-lineobj1{
  grid-column: 3;
  border-color:#ffbf00;
  border-style: solid;
  border: 10%;
}

.box-description-lineobj2{
  grid-column: 5;
  border-color:#ffbf00;
  border-style: solid;
  border: 10%;
}

.box-description-postobj{
  grid-column: 2;
  border-color:#ffbf00;
  border-style: dotted;
  border: 10%;
  border-radius: 20%;
  margin: 10%;
  margin-left: 20%;
  margin-right: 0%;
}
.box-description-chooseobj{
  grid-column: 4;
  border-color:#ffbf00;
  border-style: dotted;
  border: 10%;
  border-radius: 20%;
  margin: 10%;
  margin-left: 0%;
  margin-right: 0%;
}
.box-description-createobj{
  grid-column: 6;
  border-color:#ffbf00;
  border-style: dotted;
  border: 10%;
  border-radius: 20%;
  margin: 10%;
  margin-left: 0%;
  margin-right: 20%;
}

.box-access-left {
  display: grid;
  text-align: center;
  background-color:#0b0b0b;
}

.box-access-left table{
  margin: auto;
}

.box-access-left h1{
  font-size: 30px;
  font-family:'Poppins', sans-serif;
  font-weight: 700;
  color: #ff8400;
  padding: 10px;
}
.box-access-left h2{
  font-family:'Poppins', sans-serif;
  font-weight: 300;
  color: #ff8400;
}
.box-access-left h3{
  font-family:'Poppins', sans-serif;
  color: #ff8400;
}
.box-access-left label{
  font-family:'Poppins', sans-serif;
  color: #ff8400;
}
.box-access-left button{
  font-family:'Poppins', sans-serif;
  font-size: 15px;
  color: #191919;
  border-radius: 20px;
  background-color: #ff8400;
  border-color: #ff8400;
  border: 0%;
  margin: 10px;
}


.box-access-right {
  background-color: #ffbf00;
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, -5% 100%);
}

.box-access-right table{
  margin: auto;
}

.box-access-right h1{
  font-size: 30px;
  font-family:'Poppins', sans-serif;
  font-weight: 700;
  color: #191919;
  padding: 10px;
}
.box-access-right h2{
  font-family:'Poppins', sans-serif;
  font-weight: 300;
  color: #191919;
}
.box-access-right h3{
  font-family:'Poppins', sans-serif;
  color: #191919;
}
.box-access-right button{
  font-family:'Poppins', sans-serif;
  font-size: 15px;
  color: #ff8400;
  border-radius: 20px;
  background-color: #191919;
  border-color: #191919;
  margin: 10px;
}