
body {
  height: 100%;
  align-items: center;
  padding-bottom: 100px;
  background-color:#0b0b0b;
  text-align: center;
}

body.bg-access{
  background-image: url('intro_image.jpg'); 
  background-size: cover;
}

body.bg-profile{
  background-image: url('intro_image.jpg'); 
  background-size: cover;
}

body.bg-intro{
  background-image: url('intro_image.jpg'); 
  background-size: cover;
}

body.bg-bacheca{
  background-image: url('intro_image.jpg'); 
  background-size: cover;
}

hr{
  margin-left: 18%;
  margin-right: 18%;
  color: antiquewhite;
}

span {
  font-family: 'Poppins', sans-serif;
}

/*Main page division*/


.grid-main{
  display: grid;
  min-height: 400px;
  min-width: 400px;
  grid-auto-rows: 8vh 100% 20vh;
}

.grid-access {
  display: grid;
  grid-row: 2;
  grid-auto-rows: 25% 70%;
  background: linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(0, 0, 0, 0.648) 70%, rgba(255,255,255,0) 100%);
}

.grid-intro {
  display: grid;
  grid-row: 2;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr 1fr;
}

.grid-bacheca {
  display: grid;
  grid-row: 2;
  grid-auto-rows: 1fr;
  background: linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(0, 0, 0, 0.648) 20%, rgba(255,255,255,0) 100%);
}

.grid-profile {
  display: grid;
  grid-row: 2;
  grid-auto-rows: 1fr;
  background: linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(0, 0, 0, 0.648) 70%, rgba(255,255,255,0) 100%);
}

/*Simple footer*/

.box-footer {
  grid-auto-rows: 2;
  background-color: #000000;
  padding: 5%;
}

.box-footer h3 {
  font-family:'Poppins', sans-serif;
  font-weight: 200;
  font-size: small;
  color: #4d4d4d;
}

/*Simple Header*/

.box-header {
    display: grid;
    grid-auto-rows: 1;
    grid-auto-columns: 1fr minmax(40px, 100px) 1fr;
    align-items: center;
    background-color: #000000;
    box-shadow: 0px 10px 40px rgb(0, 0, 0);
  }

  .box-header h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 2vw;
    color: #ffbf00;
  }
  
  .box-header a {
    align-content: center;
    color: #ffbf00;
    padding: 1% 2% 1% 2%;
    text-decoration: none;
    font-size: 0.9vw;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    border-color: #ffbf00;
    border-width: thin;
    border-style:groove;
  }
  
  .box-header a:hover {
    background-color: #ffbf00c1;
    color: #000000;
  }

  .box-header a.active {
    background-color: #ffbf00;
    color: #000000;
    border-color: #000000;
  }

  .box-header img.image-logo{
    width: 50%;
    height: auto;
  }
  
  .box-header img.image-logo:hover {
    background-color: #ff840000;
  }
  
  .box-header-left {
    text-align: left;
    grid-column: 1;
    margin-left: 42%;
  }
  
  .box-header-center {
    text-align: center;
    grid-column: 2;
  }
  
  .box-header-right {
    text-align: right;
    grid-column: 3;
    margin-right: 42%;
  }

  /* Bacheca division */

  .box-main-bacheca {
    display: grid;
    grid-column: 1/3;
    /*
    grid-auto-columns: 20% 60% 20%;
    */
    grid-auto-columns: 30% 70%;
    grid-auto-rows: auto 50%;
    margin: 2%;
  }

  .box-main-bacheca label{
    color: #ffbf00;
    font-size: 0.9vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }

  .box-main-bacheca button{
    color: #000000;
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9vw;
    text-decoration: none;
    border-radius: 20px;
    background-color: #ffbf00;
    border-color: transparent;
    padding: 1% 2% 1% 2%;
  }
  
  .box-main-bacheca button:hover{
    color: #ffbf00;
    background-color:#000000;
    border-color: #ffbf00;
  }

  .box-main-bacheca h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    color: #ffbf00;
    font-size: 1.75vw;
  }

  .box-main-bacheca h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color:#000000;
    font-size: 1.5vw;
  }
  
  .box-leftside-down-bacheca {
    height:fit-content;
    grid-row: 2;
    grid-column: 1;
    background-color:#000000e1;
    padding: 5% 10% 5% 10%;
    border-radius: 20px;
    outline: dashed;
    outline-offset: 10px; 
    outline-color: #ffbf00;
    outline-width: thin;
    margin-top: 7.5%;
    margin-right: 10%;
  }
  
  .box-leftside-up-bacheca {
    grid-row: 1;
    height: fit-content;
    grid-column: 1;
    background-color:#000000e1;
    padding: 5% 10% 5% 10%;
    border-radius: 20px;
    outline: dashed;
    outline-offset: 10px; 
    outline-color: #ffbf00;
    outline-width: thin;
    margin-right: 10%;
  }

  .box-post-bacheca {
    border-radius: 20px 20px 20px 20px;
    background-color: #000000e1;
    outline: dashed;
    outline-offset: 10px; 
    outline-color: #ffbf00;
    outline-width: thin;
    padding: 5%;
    grid-column: 2;
    grid-row: 1/3;
  }

  .box-activity {
    margin: 5%;
    border-radius: 20px;
    background-image: url('try.png');
    background-size: cover;
    background-color: #ffbf00;
    padding: 5%;
  }

  .box-activity hr{
    margin-left: 18%;
    margin-right: 18%;
    color: rgba(0, 0, 0, 0.721);
  }

  .box-activity h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 4vw;
    color: #000000;
  }

  .box-activity h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.5vw;
    color: #000000;
  }

  .box-activity a{
    color: #ffbf00;
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1vw;
    text-decoration: none;
    border-radius: 20px;
    background-color: #000000;
    border-color: transparent;
    padding: 1% 5% 1% 5%;
  }
  
  .box-activity a:hover{
    color: #ffbf00;
    background-color:#ffffff;
    border-color: #ffbf00;
  }

  /* Profile division */

.box-main-profile {
    display: grid;
    grid-column: 1/3;
    grid-auto-rows: minmax(200px, 400px) minmax(400px, auto);
}

.box-up-profile{
  border-radius: 20px;
  margin: 1% 20% 1% 20%;
  text-align: center;
  position: relative;
  top: 20%;
}

.box-up-profile img{
  width: 65%;
  height: auto;
  border-radius: 100px;
}

.box-down-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10%;
  margin-right: 10%;
  border-color: #ffbf00;
  border-style: dashed;
  border-width: thin;
  border-radius: 20px;
}

.box-down-left-profile{
  align-items: center;
  background-color: #000000;
  border-radius: 20px;
  margin: 4%;
}

.box-down-right-profile{
  align-items: center;
  background-color: #000000;
  border-radius: 20px;
  margin: 4%;
}

.box-main-profile h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color:#ffbf00;
  font-size: 1.3vw;
}

.box-main-profile span{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color:#ffbf00;
  font-size: 2.5vw;
}

.box-main-profile button{
  color: #000000;
  font-family:'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.9vw;
  text-decoration: none;
  border-radius: 20px;
  background-color: #ffbf00;
  border-color: transparent;
  padding: 1% 2% 1% 2%;
}

.box-main-profile button:hover{
  color: #ffbf00;
  background-color:#000000;
  border-color: #ffbf00;
}


/* Access division */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.box-down-access {
  display: grid;
  grid-auto-columns: 1fr 1fr;
}

.box-access-left {
  display: grid;
  grid-column: 1;
  text-align: center;
  margin: 5% 0% 5% 40%;
  background-color: #000000;
  clip-path: polygon(0% 0%, 95% 0%,100% 100%,0% 100%);
  border-radius: 20px 0% 0% 20px;
}

.box-access-left table{
  margin: auto;
}

.box-access-left h1{
  font-size: 1.5vw;
  font-family:'Poppins', sans-serif;
  font-weight: 700;
  color: #ffbf00;
}
.box-access-left h2{
  font-size: 1vw;
  font-family:'Poppins', sans-serif;
  font-weight: 300;
  color: #ffbf00;
}
.box-access-left h3{
  font-size: 10px;
  font-family:'Poppins', sans-serif;
  color: #ffbf00;
}
.box-access-left label{
  font-family:'Poppins', sans-serif;
  color: #ffbf00;
}
.box-access-left button{
  font-family:'Poppins', sans-serif;
  font-size: 15px;
  color: #191919;
  border-radius: 20px;
  background-color: #ffbf00;
  border-color: #ffbf00;
  border: 0%;
  margin: 10px;
}


.box-access-right {
  grid-column: 2;
  clip-path: polygon(0% 0%, 100% 0%,100% 100%,5% 100%);
  margin: 5% 40% 5% 0%;
  overflow: visible;
  background-image: url('try.png');
  background-size: cover;
  background-color: #ffbf00;
  border-radius: 0% 20px 20px 0%;
}

.box-access-right table{
  margin: auto;
  position: relative;
  top: 20%;
}

.box-access-right h1{
  font-size: 30px;
  font-family:'Poppins', sans-serif;
  font-weight: 700;
  color: #191919;
  padding: 10px;
}
.box-access-right h2{
  font-size: 10px;
  font-family:'Poppins', sans-serif;
  font-weight: 300;
  color: #191919;
}
.box-access-right h3{
  font-size: 10px;
  font-family:'Poppins', sans-serif;
  color: #191919;
}
.box-access-right button{
  font-family:'Poppins', sans-serif;
  font-size: 15px;
  color: #ffbf00;
  border-radius: 20px;
  background-color: #191919;
  border-color: #191919;
  margin: 10px;
}

/* Intro division */

.box-intro {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-columns: 1fr 2fr 1fr;
  grid-column: 1/3;
  grid-row: 1;
  align-items: center;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 7%, rgba(0,0,0,0.7609418767507002) 48%, rgba(255,255,255,0) 100%);
}

.box-intro-left{
  grid-column: 1;
  float: left;
  height: 100%;
  width: 100%;
}

.box-intro-right{
  grid-column: 3;
  float: right;
  height: 100%;
  width: 100%;
}

.box-intro-center{
  grid-column: 2;
  height: 100%;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.box-intro-center a{
  color: #000000;
  font-family:'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1vw;
  text-decoration: none;
  border-radius: 20px;
  background-color: #ffbf00;
  border-color: transparent;
  padding: 1% 5% 1% 5%;
}

.box-intro-center a:hover{
  color: #ffbf00;
  background-color:#000000;
  border-color: #ffbf00;
}


.box-intro h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  text-align: center;
  color: #ffbf00;
  font-size: 5vw;
}

.box-intro span{
  color: #ffbf00;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 2.5vw;
}

.box-intro-down {
  grid-column: 1/3;
  background-color: #000000;
}