body {
    height: 100%;
}
  
body {
    align-items: center;
    padding-bottom: 40px;
    background-color:#0b0b0b
}

/*Main page division*/

.grid-main-container-access {
  display: grid;
  grid-auto-rows: 8vh 70% auto 40% 10%;
  grid-auto-columns: 1fr 1fr;
  background-color:#0b0b0b
}

.grid-main-container-access hr{
  grid-column: 1/3;
  margin-left: 18%;
  margin-right: 18%;
  color: antiquewhite;
}

.grid-main-container-intro {
  display: grid;
  grid-auto-rows: 8vh 100% 20vh;
  grid-auto-columns: 1fr 1fr;
  background-image: url('cooperation_image.jpg');
  background-size: cover;
}

.grid-main-container-bacheca {
  display: grid;
  grid-auto-rows: 8vh 150% 10%;
}

.grid-main-container-profile {
  display: grid;
  grid-auto-rows: 10vh 100% 10%;
  background-color: #0b0b0b;

}

/*Simple footer*/

.box-footer {
  grid-column: 1/3;
  background-color: #000000;
}

.box-footer h3 {
  font-family:'Poppins', sans-serif;
  font-weight: 200;
  font-size: small;
  color: #4d4d4d;
}

/*Simple Header*/

.box-header {
    display: grid;
    grid-column: 1/3;
    grid-auto-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #000000;
    box-shadow: 0px 10px 40px rgb(0, 0, 0);
  }
  
  .box-header a {
    align-content: center;
    color: #ffbf00;
    padding: 2%;
    text-decoration: none;
    font-size: 1vw;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
  }

  .box-header img.written-logo{
    width: 25%;
    height: auto;
  }

  .box-header img.image-logo{
    width: 10%;
    height: auto;
  }
  
  .box-header a:hover {
    background-color: #ffbf00c1;
    color: #000000;
  }
  
  .box-header a.image-logo:hover {
    background-color: #ff840000;
  }
  
  
  .box-header a.active {
    background-color: #ffbf00;
    color: #000000;
  }
  
  .box-header-left {
    text-align: left;
    grid-column: 1;
    margin-left: 40%;
  }
  
  .box-header-center {
    text-align: center;
    grid-column: 2;
  }
  
  .box-header-right {
    text-align: right;
    grid-column: 3;
  }

  /* Bacheca division */

  .box-main-bacheca {
    display: grid;
    grid-column: 1/3;
    grid-auto-columns: 1fr 2fr 1fr;
    /*background-image: url("1063.jpg");
    background-size: cover;*/
  }

  .box-main-bacheca h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 1.5vw;
  }

  .box-main-bacheca h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #ffbf00;
    font-size: 1.5vw;
  }
  
  .box-rightside-bacheca {
    height: 30%;
    grid-column: 3;
    margin: 10% 0% 10% 10%;
    background-color:#ffbf00e1;
    padding: 10%;
    border-radius: 20px 0% 0% 20px;
  }
  
  .box-leftside-bacheca {
    height: 50%;
    grid-column: 1;
    margin: 10% 10% 10% 0%;
    background-color:#ffbf00e1;
    padding: 10%;
    border-radius: 0% 20px 20px 0%;
  }
   /*MODIFICATO MARGIN PER FAR SI CHE NON FOSSERO ATTACCATI I BLOCCHI*/
  .box-post-bacheca {
    margin: 5% 5% 0% 5%;
    border-radius: 20px 20px 0% 0%;
    border-color: #ffbf00;
    border-style: dotted;
    border-width: thick;
    padding: 5%;
    grid-column: 2;
  }

  /* Profile division */

.box-main-profile {
    display: grid;
    grid-column: 1/3;
    grid-auto-columns: 1fr 2fr;
}

.box-left-profile{
  grid-column: 1;
  border-radius: 20px;
  margin: 1%;
}

.box-right-profile {
  display: grid;
  grid-column: 2;
  grid-template-columns: auto;
  height: 100%;
  width: 100%;
}

.box-main-profile h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color:#ffbf00;
  font-size: 2vw;
}


.box-sub{
  margin: 3%; 
  background-color:#ffbf00;
  padding: 10%;
  border-radius: 20px;
}

/* Access division */


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.box-description {
  grid-column: 1/3;
  align-items: center;
  width: 100%;
  height: 100%;
}

.box-description h1{
  font-family: 'Poppins', sans-serif;
  font-weight:200;
  font-size: 1.5vw;
  color: #ffbf00;
  margin: 5%;
}

.box-description-emptyobj1{
  grid-column: 1;
}

.box-description-emptyobj2{
  grid-column: 7;
}

.box-description-lineobj1{
  grid-column: 3;
  border-color:#ffbf00;
  border-style: solid;
  border: 10%;
}

.box-description-lineobj2{
  grid-column: 5;
  border-color:#ffbf00;
  border-style: solid;
  border: 10%;
}

.box-description-postobj{
  grid-column: 2;
  border-color:#ffbf00;
  border-style: dotted;
  border: 10%;
  border-radius: 20%;
  margin: 10%;
  margin-left: 30%;
  margin-right: 0%;
}
.box-description-chooseobj{
  grid-column: 4;
  border-color:#ffbf00;
  border-style: dotted;
  border: 10%;
  border-radius: 20%;
  margin: 10%;
  margin-left: 0%;
  margin-right: 0%;
}
.box-description-createobj{
  grid-column: 6;
  border-color:#ffbf00;
  border-style: dotted;
  border: 10%;
  border-radius: 20%;
  margin: 10%;
  margin-left: 0%;
  margin-right: 20%;
}

.box-access {
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-column: 1/3;
}

.box-access-left {
  display: grid;
  grid-column: 1;
  text-align: center;
  margin: 1% 0% 1% 40%;
  background-color: #000000;
  clip-path: polygon(0% 0%, 95% 0%,100% 100%,0% 100%);
  border-radius: 20px 0% 0% 20px;
  padding: 2%;
}

.box-access-left table{
  margin: auto;
}

.box-access-left h1{
  font-size: 1.5vw;
  font-family:'Poppins', sans-serif;
  font-weight: 700;
  color: #ffbf00;
}
.box-access-left h2{
  font-size: 1vw;
  font-family:'Poppins', sans-serif;
  font-weight: 300;
  color: #ffbf00;
}
.box-access-left h3{
  font-size: 10px;
  font-family:'Poppins', sans-serif;
  color: #ffbf00;
}
.box-access-left label{
  font-family:'Poppins', sans-serif;
  color: #ffbf00;
}
.box-access-left button{
  font-family:'Poppins', sans-serif;
  font-size: 15px;
  color: #191919;
  border-radius: 20px;
  background-color: #ffbf00;
  border-color: #ffbf00;
  border: 0%;
  margin: 10px;
}


.box-access-right {
  grid-column: 2;
  clip-path: polygon(0% 0%, 100% 0%,100% 100%,5% 100%);
  margin: 1% 40% 1% 0%;
  overflow: visible;
  background-image: url('try.png');
  background-size: cover;
  background-color: #ffbf00;
  border-radius: 0% 20px 20px 0%;
  padding: 9%;
}

.box-access-right table{
  margin: auto;

}

.box-access-right h1{
  font-size: 30px;
  font-family:'Poppins', sans-serif;
  font-weight: 700;
  color: #191919;
  padding: 10px;
}
.box-access-right h2{
  font-size: 10px;
  font-family:'Poppins', sans-serif;
  font-weight: 300;
  color: #191919;
}
.box-access-right h3{
  font-size: 10px;
  font-family:'Poppins', sans-serif;
  color: #191919;
}
.box-access-right button{
  font-family:'Poppins', sans-serif;
  font-size: 15px;
  color: #ffbf00;
  border-radius: 20px;
  background-color: #191919;
  border-color: #191919;
  margin: 10px;
}

/* Intro division */


.box-intro {
  display: grid;
  grid-auto-columns: 1fr 2fr 1fr;
  grid-column: 1/3;
  grid-row: 2;
  align-items: center;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 7%, rgba(0,0,0,0.7609418767507002) 48%, rgba(255,255,255,0) 100%);
}

.box-intro-left{
  grid-column: 1;
  float: left;
  height: 100%;
  width: 100%;
}

.box-intro-right{
  grid-column: 3;
  float: right;
  height: 100%;
  width: 100%;
}

.box-intro-center{
  grid-column: 2;
  height: 100%;
  width: 100%;
  padding: 10%;
}

.box-intro-center a{
  color: #000000;
  font-family:'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1vw;
  text-decoration: none;
  border-radius: 20px;
  background-color: #ffbf00;
  border-color: transparent;
  padding: 1% 5% 1% 5%;
}

.box-intro-center a:hover{
  color: #ffbf00;
  background-color:#000000;
  border-color: #ffbf00;
}


.box-intro h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  text-align: center;
  color: #ffbf00;
  font-size: 5vw;
}

.box-intro-down {
  grid-column: 1/3;
  background-color: #000000;
}