.grid-access {
    display: grid;
    grid-row: 2;
    grid-auto-rows: 25% 70%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(0, 0, 0, 0.648) 70%, rgba(255,255,255,0) 100%);
  }


.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .box-presentation-access{
    text-align: center; 
    position: relative; 
    top: 40%;
  }

  .box-presentation-access h1{
    color: #ffbf00; 
    font-weight: 100; 
    font-family: 'Poppins', sans-serif; 
    font-size: 4vw;
  }
  
  @media only screen and (max-width: 1200px) {
    .box-presentation-access h1{
      font-size: 6vw;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .box-presentation-access h1{
      font-size: 8vw;
    }
  }
  
  .box-down-access {
    display: grid;
    grid-auto-columns: 1fr 1fr;
  }
  
  .box-access-left {
    display: grid;
    grid-column: 1;
    text-align: center;
    margin: 5% 0% 5% 40%;
    background-color: #000000;
    clip-path: polygon(0% 0%, 95% 0%,100% 100%,0% 100%);
    border-radius: 20px 0% 0% 20px;
  }
  
  .box-access-left table{
    margin: auto;
  }
  
  .box-access-left h1{
    font-size: 30px;
    font-family:'Poppins', sans-serif;
    font-weight: 700;
    color: #ffbf00;
  }
  .box-access-left h2{
    font-size: 10px;
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    color: #ffbf00;
  }
  .box-access-left h3{
    font-size: 10px;
    font-family:'Poppins', sans-serif;
    color: #ffbf00;
  }
  .box-access-left label{
    font-family:'Poppins', sans-serif;
    color: #ffbf00;
    font-weight: 400;
  }
  .box-access-left button{
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    color: #191919;
    border-radius: 20px;
    background-color: #ffbf00;
    border-color: #ffbf00;
    border: 0%;
    margin: 10px;
  }
  
  
  .box-access-right {
    grid-column: 2;
    clip-path: polygon(0% 0%, 100% 0%,100% 100%,5% 100%);
    margin: 5% 40% 5% 0%;
    overflow: visible;
    background-image: url('images/sfondos.png');
    background-size: cover;
    background-color: #ffbf00;
    border-radius: 0% 20px 20px 0%;
  }

  @media only screen and (max-width: 1200px) {
    .box-access-right {
      margin: 5% 20% 5% 0%;
    }

    .box-access-left {
      margin: 5% 0% 5% 20%;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .box-access-right {
      margin: 5% 5% 5% 0%;
    }

    .box-access-left {
      margin: 5% 0% 5% 5%;
    }
  }
  
  .box-access-right table{
    margin: auto;
    position: relative;
    top: 20%;
  }
  
  .box-access-right h1{
    font-size: 30px;
    font-family:'Poppins', sans-serif;
    font-weight: 700;
    color: #191919;
    padding: 10px;
  }
  .box-access-right h2{
    font-size: 10px;
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    color: #191919;
  }
  .box-access-right h3{
    font-size: 10px;
    font-family:'Poppins', sans-serif;
    color: #191919;
  }

  .box-access-right label{
    font-family:'Poppins', sans-serif;
    color: #000000;
    font-weight: 400;
  }

  .box-access-right button{
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    color: #ffbf00;
    border-radius: 20px;
    background-color: #191919;
    border-color: #191919;
    margin: 10px;
  }
  