.grid-edit {
    display: grid;
    grid-row: 2;
    grid-auto-rows: 1fr auto;
    background: linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(0, 0, 0, 0.648) 70%, rgba(255,255,255,0) 100%);
  }
  
  .box-center-edit {
    margin: 10% 30% 0% 30%;
    padding: 2% 10% 2% 10%;
    height: fit-content;
    background-color: #000000a4;
    border-radius: 20px;
    outline: dashed;
    outline-offset: 10px; 
    outline-color: #ffbf00;
    outline-width: thin;
  }
  
  .box-center-edit label{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #ffbf00;
    font-size: 1vw;
  }
  
  .box-center-edit button{
    color: #000000;
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    border-radius: 20px;
    background-color: #ffbf00;
    border-color: transparent;
    padding: 1% 2% 1% 2%;
    margin: 5%;
  }
  
  .box-center-edit button:hover{
    color: #ffbf00;
    background-color:#000000;
    border-color: #ffbf00;
  }
  
  .box-center-edit button.red-butt{
    background-color: #ff0000;
  }
  
  .box-center-edit h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 2.2vw;
    color: #ffbf00;
  }

  @media only screen and (max-width: 1200px) {
    .box-center-edit label{
      font-size: 2vw;
    }

    .box-center-edit {
      margin: 10% 10% 0% 10%;
    }

    .box-center-edit h1{
      font-size: 3.2vw;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .box-center-edit label{
      font-size: 3vw;
    }

    .box-center-edit {
      margin: 10% 2% 0% 2%;
    }

    .box-center-edit h1{
      font-size: 4vw;
    }
  }
  