.grid-profile {
    display: grid;
    grid-row: 2;
    grid-auto-rows: 1fr;
    background: linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(0, 0, 0, 0.648) 20%, rgba(255,255,255,0) 100%);
}

.box-main-profile {
    display: grid;
    grid-column: 1/3;
    grid-auto-rows: minmax(200px, 400px) minmax(400px, auto);
}

.box-up-profile{
  border-radius: 20px;
  margin: 1% 20% 1% 20%;
  text-align: center;
  position: relative;
  top: 20%;
}

.box-up-profile img{
  width: 65%;
  height: auto;
  border-radius: 100px;
  outline: dashed;
  outline-offset: 10px; 
  outline-color: #ffbf00;
  outline-width: thin;
}

.box-down-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10%;
  margin-right: 10%;
  border-color: #ffbf00;
  border-style: dashed;
  border-width: thin;
  border-radius: 20px;
}

.box-down-left-profile{
  align-items: center;
  background-color: #000000c9;
  background-image: url("images/sfondos.png");
  border-radius: 20px;
  margin: 4%;
}

.box-down-right-profile{
  align-items: center;
  background-color: #000000c9;
  background-image: url("images/sfondos.png");
  border-radius: 20px;
  margin: 4%;
}

.box-main-profile h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color: #ffbf00;
  font-size: 1.3vw;
}

.box-main-profile h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 150;
  color: black;
  font-size: 1.5vw;
}

.box-main-profile span{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color:#ffbf00;
  font-size: 2.5vw;
}

.box-main-profile button{
  color: #000000;
  font-family:'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  border-radius: 20px;
  background-color: #ffbf00;
  border-color: transparent;
  padding: 1% 2% 1% 2%;
  margin: 1%;
}

.box-main-profile button:hover{
  color: #ffbf00;
  background-color:#000000;
  border-color: #ffbf00;
}

/*Shared activities*/

.box-activity {
  margin: 5%;
  border-radius: 20px;
  background-image: url('images/try.png');
  background-size: cover;
  background-color: #ffbf00;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 2%;
  padding-right: 2%;
}

.box-activity-showsub{
  margin: 5%;
  border-radius: 20px;
  color: #ffbf00;
  border-style: dashed;
  border-color: #ffbf00;
  border-width: thin;
  padding: 5%;
}

.box-activity-showsub h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 2vw;
  color: #ffbf00;
}

.box-activity hr{
  margin: 0%;
  margin-left: 18%;
  margin-right: 18%;
  color: rgba(0, 0, 0, 0.721);
}

.box-activity h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.6vw;
  color: #000000;
}

.box-activity h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  color: #000000;
}

.box-activity h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1vw;
  color: #000000;
}

.box-activity button{
  color: #ffbf00;
  font-family:'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  border-radius: 20px;
  background-color: #000000;
  border-color: transparent;
  padding: 1% 2% 1% 2%;
}

.box-activity button:hover{
  color: #000000;
  background-color: transparent;
  border-color: #000000;
}

@media only screen and (max-width: 1200px) {
  .box-down-profile {
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .box-up-profile img{
    width: 85%;
    height: auto;
  }

  .box-main-profile h2{
    font-size: 2.3vw;
  }

  .box-main-profile span{
    font-size: 3vw;
  }

  .box-activity h1{
    font-size: 2.6vw;
  }
  
  .box-activity h2{
    font-size: 2.2vw;
  }
  
  .box-activity h3{
    font-size: 2vw;
  }
}

@media only screen and (max-width: 700px) {
  .box-down-profile {
    margin-left: 0%;
    margin-right: 0%;
  }
  
  .box-up-profile img{
    width: 85%;
    height: auto;
  }

  .box-main-profile h2{
    font-size: 2.5vw;
  }

  .box-main-profile span{
    font-size: 3.8vw;
    margin: 2%;
  }

  .box-activity h1{
    font-size: 3.6vw;
  }
  
  .box-activity h2{
    font-size: 3.2vw;
  }
  
  .box-activity h3{
    font-size: 3vw;
  }
}

@media only screen and (max-width: 576px) {

  .box-down-profile {
    margin-top: 5%;
  }

  .box-up-profile img{
    width: 60%;
    height: auto;
  }
}

